<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="description"
                    content="A web app to manage short links. You can also create your own short links and share them with your friends and family members." />
          <link rel="shortcut icon" href="https://thk.vercel.app/static/media/url.3454bed33faf3c15cbad.png"
                    type="image/x-icon">
          <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css" />
          <script src="https://cdn.tailwindcss.com"></script>

          <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css" />
          <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet"
                    type="text/css" />
          <title>Shortiify</title>
          <style>
                    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

                    body {
                              font-family: 'Poppins', sans-serif;
                    }
          </style>
</head>

<body class="bg-black">
          <div class="flex flex-col justify-center items-center h-screen">
                    <div class="avatar mb-8">
                              <div
                                        class="w-48 md:w-72 rounded-full ring ring-success ring-offset-base-100 ring-offset-2">
                                        <a href="https://shortiify.web.app" target="_blank">
                                                  <img
                                                            src="https://thk.vercel.app/static/media/url.3454bed33faf3c15cbad.png" />
                                        </a>
                              </div>
                    </div>
                    <h1
                              class="flex justify-center items-center text-center text-2xl md:text-3xl lg:text-5xl text-white">
                              Shortiify - URL
                              Shortener API
                    </h1>
                    <span class="text-white mt-[20px]">Dev - <a href="https://toufiqhasankiron.me" target="_blank"
                                        class="text-accent font-semibold text-lg">Toufiq Hasan
                                        Kiron</a></span>
                    <a href="https://github.com/kiron0" target="_blank"
                              class="btn btn-success text-white w-52 mt-8 mb-3">Follow Me
                              On
                              GitHub</a>
                    <a href="https://shortiify.web.app" target="_blank" class="btn btn-neutral w-44">Live Client
                              Site</a>
          </div>
</body>

</html>